.popup {
  position: absolute;
  width: 470px;
  height: 370px;

  top: 50%;
  left: calc(50%+470px / 2);

  padding: 0;
  margin: 0;
  display: none;
}

@media all and (max-width: 1280px) {
  .popup {
    width: 282px;
    height: 358px;
  }
}
