.elements__element-delete-button {
  width: 18px;
  height: 19px;
  margin: 0;
  padding: 0;
  background-image: url(../../../images/trash.svg);
  background-repeat: no-repeat;
  background-size: 18px 19px;

  position: absolute;
  top: 20px;
  right: 20px;
}

.elements__element-delete-button :active {
  opacity: 0.6;
}
