.header__border {
  width: 880px;
  height: 0px;
  margin: 41px 0 0 0;
  padding: 0;
  border-bottom: 1px;
  border-bottom-color: #545454;
  border-bottom-style: solid;
  opacity: 0.7;
}
@media all and (max-width: 1279px) {
  .header__border {
    width: 320px;
    margin: 31.6px 0 0 0;
  }
}
