.popup__container {
  position: relative;
  width: 470px;
 

  margin: auto;
  left: 0;
  right: 0;

  background: rgba(255, 255, 255, 0);

  display: flex;
  flex-direction: column;
  align-items: center;
}

@media all and (max-width: 1280px) {
  .popup__container {
    width: 282px;

  }
}
