.popup__container {
  position: relative;
  width: 470px;
  height: 370px;


  padding: 0;
  margin: 0;
  background: rgba(255, 255, 255, 0);

  display: flex;
  flex-direction: column;
  align-items: center;
}

@media all and (max-width: 1280px) {
  .popup__container {
    width: 282px;
    height: 358px;
  }
}
