.profile {
  width: 880px;
  min-height: 120px;

  padding: 0;
  margin: 40px auto 0 auto;

  display: flex;
  flex-direction: row;
  align-items: center;

  position: relative;
}

@media all and (max-width: 1280px) {
  .profile {
    width: 282px;
    min-height: 286px;
    padding: 0;
    margin: 42px auto 0 auto;
    flex-direction: column;
    
  }
}
