.profile {
  width: 880px;

  padding: 0;
  margin: 40px auto 0 auto;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  position: relative;
}

@media all and (max-width: 879px) {
  .profile {
    width: 282px;

    margin-top: 42px;
    flex-direction: column;
  }
}
