.profile__position {
  font-size: 18px;
  line-height: 22px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  color: #fff;
  padding: 0;
  margin: 0;
}

@media all and (max-width: 1280px) {
  .profile__position {
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 3;
  }
}
