.popup__item {
  border: 0;
  width: 358px;

  box-sizing: border-box;
  border-bottom: 1px solid #bcbcc4;
  background-color: transparent;
  padding: 0 0 10px 0;
  margin: 28px auto 0 auto;
  font-family: "Inter", sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #000;
}

.popup__item:first-of-type {
  margin: 46px auto 0 auto;
}

@media all and (max-width: 590px) {
  .popup__item {
    width: 238px;

    text-align: start;
    font-size: 14px;
    line-height: 17px;
  }
  .popup__item:first-of-type {
    margin: 75px auto 0 auto;
  }
}
