.popup__item {
  border: 0;
  width: 358px;
  height: 27px;
  box-sizing: border-box;
  border-bottom: 1px solid #bcbcc4;
  background-color: transparent;
  margin: 54px auto 0 auto;
  font-family: "Inter", sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #000;
}
.popup__item[id="heading"] {
  margin: 54px auto 0 auto;
}
.popup__item[id="subheading"] {
  margin: 30px auto 0 auto;
}

@media all and (max-width: 1280px) {
  .popup__item {
    width: 238px;
    height: 27px;

    font-size: 14px;
    line-height: 17px;
  }
  .popup__item[id="heading"] {
    margin: 75px auto 0 auto;
  }
}
