  .header {
  width: 880px;
  min-height: 74px;
  padding: 0;
  margin: 45px auto 0 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  border-bottom: 1px;
  border-bottom-color: rgba(84, 84, 84, 0.7);
  border-bottom-style: solid;
}

@media all and (max-width: 879px) {
  .header {
    width: 581px;
  }
}
@media all and (max-width: 590px) {
  .header {
    width: 320px;
    min-height: 56px;
    margin: 28px auto 0 auto;
  }
}
